<h2>💸 Talous</h2>
<iframe title="Finance" width="1140" height="600" 
src="https://app.powerbi.com/reportEmbed?reportId=9f541317-8b22-4c90-b51f-ce734ba75bcc&autoAuth=true&ctid=0992c7f7-c210-47c4-909e-f112d9f907a0" 
frameborder="0" allowFullScreen="true">
</iframe>
