<h2>📦 Myyntiraportti</h2>
<iframe title="Sales" width="100%" height="600"
src="https://app.powerbi.com/reportEmbed?reportId=f9bfa794-84f3-4975-b9df-d132e874c80c&autoAuth=true&ctid=0992c7f7-c210-47c4-909e-f112d9f907a0"
frameborder="0" allowFullScreen="true">
    </iframe>